/*
Colors used:
Primary color(name): #Refnum;
Secondary color(name): #Refnum;
Terciary color(name): #Refnum;
*/

* {
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  padding: 15px 0;
  margin: 0px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.3);

}

main {
  padding-top: 100px;
}

body {

  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.logo {
  width: 30px;
  float: left;
}

.social-logo {
  width: 80px;
}

/*
Hyperlinks states
*/
a{
  color: #000000;
  text-decoration: none; /* No underlining */
}

a:hover,
a:focus {
  color: #FF0011;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #FF0011;
}

/*
Button class
*/
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change
  this to inline-block, but more on this in the next exercise */
  background-color: #000000;
  color: #FFFFFF; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  color: #FF0011;
  text-decoration: none;
}

.button:active {
  color: #FF0011;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #000000;
}

.button.contact:hover {
  background-color: #000000;
  color: #ffffff;
}

.button.contact:active {
  background-color: #000000;
  color: #ffffff;
}

/*
================================
 Layout Styling
================================
*/

.container {
  width: 95%;
  margin: 0 auto;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  text-align: center; /* Add the center class to any HTML element to center text */
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-left: 35px;
}

nav > ul > li > a {
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 400;
}

.intro {
  max-width: 600px;
  padding-bottom: 100px;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .col-md-6{
    width: 50%;
  }

  #about-page h3 {margin-top: 0;}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7{
    width: 58.33%;
  }
  .col-lg-5{
    width: 41.66%;
  }
  .container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .col-lg-7{
    width: 58.33%;
  }
  .col-lg-5{
    width: 41.66%;
  }
  .container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

[class*="col-"]{
  float:left;
  padding-right: 30px;
}

/*
CSS Animation Example
*/
.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/*
It can be combined like this:
.sun {
  animation: 4s color-change infinite alternate linear;
}
*/

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px,48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
